
/* ------------------------------------------------------------------------ */
/* contacto.css: Estilos de la página contacto.html */
/* ------------------------------------------------------------------------ */
body{
  background-image: url("./../img/contacto2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h3{
  color: white;
}
 form{
    width: 650px;
    margin: auto;
    padding: 10px;
    background-color: rgba(#f7f2f2, 0);
}
.inputs_100{
    width: 100%;
    padding: 20px 10px;
}
.inputs_50{
    width: 50%;
    padding: 20px 10px;
    float: left;
}
.inputs_33{
    width: 33.33%;
    padding: 20px 10px;
    float: left;
}
label{
    display: block;
    margin-bottom: 5px;
    color: white;

}
input, select{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
span{
    color: #ff0000;
}
h3{
    margin: 10px 0px 20px 20px;
}
textarea{
    width: 100%;
    height: 120px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
