*{

    box-sizing: border-box;
}

h1{
    text-align: center;
    position: relative;
    color: #d43125;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.02em;
    line-height: 1;
    padding-top: 20px;
    margin: 50px;
}

.titulocurios{
    display: flex;
    justify-content: center;
}

.container_curiosidades{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Kranky', cursive;


}

.textocurios{
    bottom: 100px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.curiosidadesizq{
    text-align: justify;
    font-size:  150%;
    margin-right: 50%;
    max-width: 50%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 3%;
    display: -webkit-box;
}

.curiosidadesdcha{
    text-align: justify;
    font-size:  150%;
    margin-right: 50%;
    max-width: 50%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 3%;
    display: -webkit-box;
}

.imagenescurios img{
    margin-left: 100px;
    margin-right: 100px;
    width: 400px;
    height: 100%;
}
