/* ESTILOS DEL FOOTER_____________________________________________________________________ */
footer{
    background-color: #cfbf13;
    font-family: sans-serif;
    width: 100%;
    height: 5%;
    bottom: 0;
    padding: 15px;
}

footer span{
    color: white;
    font-size: 15px;
    margin: 8px;
}

footer span:hover{
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

footer .footerleft{
    display: flex;
    justify-content: flex-start;
}

footer .footerright{
    display: flex;
    justify-content: flex-end;
}

 input[type=search]{
    padding: 10px;
    outline: 0;
    border: 0px;
    margin: 12px;
}

.footerright img{
    cursor: pointer;
    margin: 12px;
}
