

main .dondeestamos{
    margin: 30px 400px;
    text-align: center;
    /* esta propiedad nos da espaciado entre los "p"(parrafos)  */
    line-height: 50px;
}

main div h1{

    background-image: linear-gradient(to right, #c9d300, #bec716, #b3bb21, #a8af29, #9da32e, #8d9730, #7e8a32, #707e33, #5c6d32, #4a5c30, #3b4c2d, #2e3b28);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 1;
    font-size: 40px;

}

main div h3{
    font-family: sans-serif;
    font-size: 25px;
    /* color: #cfbf13; */
    font-weight: lighter;

}
#googlemaps{
    margin-left: 50%;
    transform: translate(-50%);
}

main div p{
    font-family: sans-serif;
    font-size: 20px;
}

/* AQUI APLICAMOS LOS ESTILOS DEL FOOTER___________________________________________________________________ */

html, body{
    /* LARGO 100% */
    height: 100%;
}

body{

    display: flex;
    flex-direction: column;
}

main{
    /* 1= ARRIBA, 0=ABAJO Y AUTO SE APLICARA EN IZQ Y DERECHA */
    flex: 1 0 auto;
    margin-bottom: 100px;
    margin-top: 20px;
}
/* _____________________________________________________________________________________________________ */


/* ESTILOS DEL FOOTER PARA QUE SIEMPRE SE QUEDE ABAJO DE LA PAGINA_________________________________________- */
html, body{
    /* LARGO 100% */
    height: 100%;
}

body{

    display: flex;
    flex-direction: column;
}

main{
    /* 1= ARRIBA, 0=ABAJO Y AUTO SE APLICARA EN IZQ Y DERECHA */
    flex: 1 0 auto;
}
/* ______________________________________________________________________________________________ */


/* ESTILOS DEL FOOTER_____________________________________________________________________ */
footer{
    background-color: #cfbf13;
    font-family: sans-serif;
    width: 100%;
    height: 40%;
    bottom: 0;
    padding: 15px;
}

footer span{
    color: white;
    font-size: 15px;
    margin: 8px;
}

footer span:hover{
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

footer .footerleft{
    display: flex;
    justify-content: flex-start;
    background-color: #cfbf13;

}

footer .footerright{
    display: flex;
    justify-content: flex-end;
    background-color: #cfbf13;
}

footer .footerright img{
    opacity: 0.5;
}

footer .footerright img:hover{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: white;
    opacity: 1;
}


 input[type=search]{
    padding: 10px;
    outline: 0;
    border: 0px;
    margin: 12px;
}

.footerright img{
    cursor: pointer;
    margin: 12px;
}
