/* home page video */
.video-fluid {
  width: 100%;
  height: auto;
}

div .card {
    border-radius: 10px;
    background: #9f9fa8;
    color: white;

}

div card-body.p-5 {
    background-color: grey !important;
}
