/* AQUI APLICAMOS LOS ESTILOS DE INDEX */

/* aplicamos margin y padding 0 a toda la web nada mas empezar para separar bordes y espacio, y border box-sizing para que no nos afecte a anchos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.imagenfondo{
    background-image: url("../img/images92.jpg");
    background-attachment: fixed;
    background-size: auto;
    overflow: hidden;
    width: 100%;
    height: 560px;
}


.menu{
    opacity: 1;
    position: relative;
    background-attachment: fixed;
}

/* CLASE QUE SE AÑADIRÁ CON JS PARA EL MENU PEGAJOSO______________________________________________________________ */
.menu-fixed {
	position: fixed;
    background-color: white;
    /* LA PROPIEDAD Z-INDEX HACE QUE EL MENU QUEDE UNA CAPA POR DELANTE DE TODAS LAS COSAS DE LA WEB(Y DE ESTA MANERA NO QUEDE DETRAS Y NO PODAMOS INTERACCIONAR-USAR EL NAVBAR, Y PODAMOS USARLO) */
	z-index: 1000;
	top:0;
	/* max-width:1000px; */
	width: 100% ;
    padding: 30px;
    /* el box shadow es para darle sombra al menu navbar */
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
    margin-left: -30px;
    opacity: 0.5;
}

.menu-fixed:hover {
    opacity: 1;
}


/* SUBMENU DEL NAVBAR_______________________________________________________________________________ */
.subnav{
    float: left;
    overflow: hidden;

}

.subnav .subnavbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: grey;
  /* padding-top: 4px;
  padding-bottom: 20px; */
  background-color: white;
  font-family: sans-serif;
  margin: 0;

}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: #cfbf13;
  cursor: pointer;
  font-weight: bold;


}

.subnav-content {
  display: none;position: absolute;
  margin-left: -60px;
  background-color: white;
  width: 100%;
  z-index: 1;
}


.subnav-content a {
  float: left;
  /* display: flex;
  flex-direction: column; */
  color: #cfbf13;
  text-decoration: none;
  /* margin-top: 43px; */
  margin-top: 43px;

}

.subnav-content a:hover {

  background-color: #cfbf13;
  color: white;
  /* margin-top: 43px; */
}

.subnav:hover .subnav-content {
  display: block;
}

/* ________________________________________________________________________________________________________ */



/* ESTOS ESTILOS (H2 Y H4) SON DEL LOGO POTATOES CHIPS R________________________________________________________________ */
/* h2{
    font-size: 180px;
    position: absolute;
    top: 30%;
    left: 51%;
    color: white;
    font-family: 'Parisienne', cursive;
}
h4{
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 31%;
    color: white;
    font-family: 'Parisienne', cursive;


} */
/* _________________________________________________________________________________________________________ */

body header{
    font-size: 20px;
    color: grey;
    padding: 30px;
}


header nav ul{
    display: flex;
    justify-content: space-around;
}

ul li a{
    color: grey;
    text-decoration: none;
    /* padding: 30px 24px; */
    font-family: sans-serif;
    letter-spacing: 2px;
    vertical-align: middle;

}

ul li a:hover{
    font-weight: bold;
    color: #cfbf13;
}

ul li {
    /* padding: 7px; */
    list-style: none;
}

/* ESTILOS DE(HISTORIA) SABIAS QUE.._______________________________________________________________ */
#imghistoria{
    opacity: 0.95;
    position: absolute;
}
section div h1{
    text-align: center;
    position: relative;
    color: #d43125;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -.02em;
    line-height: 1;
    padding-top: 20px;
    margin: 100px;
}
 section div p{
    position: relative;
    margin: 0 auto 20px;
    text-align: center;
    max-width: 50%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;
 }

main section #nuestrosproductos h1{
    color: #cfbf13;
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    top: 65px;
}

/* ESTOS SON LOS ESTILOS DE NUESTROS PRODUCTOS___________________________________________________________ */

.contenedor_productos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.producto{
    width: 33.3%;
    text-align: center;
}


.imagentitulo{
    margin-bottom: 20px;
}

#nuestrosproductos p{
    /* font-size: 15px; */
    font-size: 90%;
    font-family: sans-serif;
    color: black;
    border-color: black;
    text-align: center;
    right: 10px;
    background-color: white;
    padding: 10px;
    padding-right: 10px;
    border: 2px solid black;
    max-width: 65%;
    margin-top: 25px;
}

#nuestrosproductos p:hover{
    /* font-size: 15px; */
    font-size: 90%;
    font-family: sans-serif;
    color: white;
    text-align: center;
    right: 10px;
    background-color: black;
    padding: 10px;
    padding-right: 10px;
    border: 2px solid black;
    max-width: 65%;
    cursor: pointer;
}


div .contenedor_productos img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1,1.1);

}
