/* AQUI APLICAMOS LOS ESTILOS DE INDEX */
header{
    font-size: 20px;
    /* background-image: linear-gradient(to right, #c6ffdd, #cee5a7, #e1c67d, #f3a06e, #f7797d);; */
    color: grey;
    padding: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.imagenfondo{

    background-attachment: fixed; /* CON ESTA PROPIEDAD HACEMOS QUE LA IMAGEN SE QUEDE FIJA AL HACER SCROLL  */
    background-size: auto;
    background-image: url("../img/images92.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* CLASE QUE SE AÑADIRÁ CON JS PARA EL MENU PEGAJOSO______________________________________________________________ */
.menu-fixed {
	position: fixed;
    background-color: white;
    /* LA PROPIEDAD Z-INDEX HACE QUE EL MENU QUEDE UNA CAPA POR DELANTE DE TODAS LAS COSAS DE LA WEB(Y DE ESTA MANERA NO QUEDE DETRAS Y NO PODAMOS INTERACCIONAR-USAR EL NAVBAR, Y PODAMOS USARLO) */
	z-index: 1000;
	top:0;
    left: 0;
	width: 100% ;
    padding: 30px;
    /* el box shadow es para darle sombra al menu navbar */
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

.menu-fixed:hover {
    opacity: 1;
}

.navbar a:hover{
  background-color: black;
  color: #cfbf13;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
/* ESTILOS DE COMO FABRICAMOS__________________________________________________________________ */
.comofabricamos{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #f7f5f2;
}

.comofabricamos img{
    /* max-width: 100%;
    height: auto; */
    width:388px;
    height:483px;
    margin: 0 20px;
}

h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #3a3a3a;
    font-family: 'Signika',serif;
    margin: 10px 0;

}

.comofabricamos p{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #808285;
    margin-bottom: 30px;
}

.comofabricamosizq{
    text-align: right;
    width: 20%;
    margin-left: 15%;
}

.comofabricamosdcha{
    text-align: left;
    width: 20%;
    margin-right: 15%;

}

/* ESTILOS DE(HISTORIA) SABIAS QUE.._______________________________________________________________ */
#historia{
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

#imghistoria{
    opacity: 0.95;
    position: absolute;
}
section div h1{
    text-align: center;
    position: relative;
    color: #d43125;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -.02em;
    line-height: 1;
    padding-top: 50px;
    padding-bottom: 40px;
}

 section div p{
    position: relative;
    margin: 0 auto 20px;
    text-align: center;
    max-width: 50%;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;
 }
 /* ESTOS SON LOS ESTILOS DE NUESTROS PRODUCTOS___________________________________________________________ */

main section #nuestrosproductos h1{
    color: #cfbf13;
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    /* top: 65px; */
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 150px;
}

.contenedor_productos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.producto{
    width: 33.3%;
    text-align: center;
}


.imagentitulo{
    margin-bottom: 20px;
}

#nuestrosproductos p{
    /* font-size: 15px; */
    font-size: 90%;
    font-family: sans-serif;
    color: black;
    border-color: black;
    text-align: center;
    right: 10px;
    background-color: white;
    padding: 10px;
    padding-right: 10px;
    border: 2px solid black;
    max-width: 65%;
    margin-top: 25px;
}

#nuestrosproductos p:hover{
    /* font-size: 15px; */
    font-size: 90%;
    font-family: sans-serif;
    color: white;
    text-align: center;
    right: 10px;
    background-color: black;
    padding: 10px;
    padding-right: 10px;
    border: 2px solid black;
    max-width: 65%;
    cursor: pointer;
}

div .contenedor_productos img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1,1.1);
    transition: .5s;

}
