div.form{
    margin: auto;
    position: relative;
    height: 100%;
    vertical-align: middle;
}

form{
    /* text-align: center; */
    vertical-align: middle;
    background-color: #ddd;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

label{
    display: block;
    font-size: 14px;
    margin: 10px 0 5px 0;
}

.camp_form{
    display: inline-block;
    font-size: 14px;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
}

/* del javier
<div class="div_1">
          <form>
                <h3>Contacta con nosotros</h3>
                <div class="inputs_50">
                    <label for="nombre">Tu nombre: <span>*</span></label>
                    <input type="text" id="nombre">
                    <span class="result_nombre"></span>
                </div>
                <div class="inputs_50">
                  <label for="email">Email: <span>*</span></label>
                  <input type="text" id="email">
                  <span class="result_email"></span>
                </div>
                <div class="inputs_100">
                    <label for="text">Organización o descripción relevante:</label>
                    <input type="text" id="org">
                    <span class="result_org"></span>
                </div>
                <div class="inputs_50">
                    <label>De qué país nos escribes?<span>*</span></label>
                    <select class="provincias">
                        <option>[Selecciona]</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                    <span class="result_provincias"></span>
                </div>
                <div class="inputs_50">
                    <label for="tlf">Puedes agregar tu teléfono:</label>
                    <input type="text" id="tlf">
                    <span class="result_tlf"></span>
                </div>
                <div class="inputs_100">
                    <label>Aquí tu mensaje:<span>*</span></label>
                    <textarea  placeholder="  Ey! " id="mensaje"></textarea>
                    <span class="result_mensaje"></span>
                </div>
                <button type="button" class="btn">Hola Famda!</button>
            </form>
          </div>

.contactanos{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav_home{
  background-color: #ffbd59;
  margin-top: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  width: 50%;
  border-radius: 36px;
}
div a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.div_1{
  width: 50%;
  margin: 10px;
  border: 1px solid silver;
}
form{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    top: 50%;
    left: 50%;
    border: 1px solid silver;
}
.div_2{
  margin: 10px;
  border: 1px solid silver;
  width: 50%;
}
h1{
  margin: auto;
  align-items: center;
}
.inputs_100{
    width: 100%;
    padding: 10px 10px;
}
.inputs_50{
    width: 50%;
    padding: 10px 10px;
    float: left;
    align-items: center;
}
.inputs_33{
    width: 33.33%;
    padding: 20px 10px;
    float: left;
}
label{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    align-content: center;
}
input, select{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 36px;
}
span{
    color: #05d192;
}
h3{
    margin: 10px 0px 20px 20px;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 36px;
    resize: none;
}
.btn{
  width: 30%;
  height: 40px;
  background-color: #05d192;
  color: #fff;
  align-content: center;
  border-radius: 36px;
  outline: none;
}
.space{
  width: 100%;
  background-color: #f4f4f4;
}
span{
    color: #ff0000;
    cursor: pointer;
} */

h3{
    text-align: center;
    margin: 10px;
}

p{
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

p span:hover{
    font-weight: bold;
}

.missatge{
  color: red;
}

#frm_registre{
    display: none;
}
