*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Questrial'; 'Roboto'; sans-serif;
    font-size: 1em;
}
/* aside izq*/
.fijo_lateral_izq{
    height: calc(100vh - 65px);
    float: left;
    padding: 10px;
    margin-left: 3%;
    width: 15%;
    border-right: 1px solid rgb(200, 200, 200);
}
.fijo_lateral_izq div{
    margin-top: 200%;
}
#logo{
    width: 80%;
}
#searchbox{
    width: 75%;
    border-radius: 5px;
    border: 1px solid #aaa;
    outline: 0;
    padding: 2px;
}
#searchbox:active{
    border: none;
}
.btn_aside{
    display: block;
    width: 75%;
    border-radius: 5px;
    padding: 4px;
    outline: 0;
    margin: 10px 20px 0 0;
    letter-spacing:1px;
    text-decoration: none;
    text-align: center;
}
#regbutton{
    background-color: rgb(0,250,200);
    color: rgb(91, 91, 91);
}
#logbutton{
    background-color: rgb(91,91,91);
    color: rgb(249, 249, 249);
}
/* contenido central */
nav{
    float: left;
}

/*aside derecha*/
.ads_banner_v{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65px);
    float: right;
    width: 15%;
    border-left: 1px solid rgb(200, 200, 200);
}
.clearfix{
    clear: both;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: rgb(0, 250, 200);
    font-size: 0.78em;
    color: rgb(69, 69, 69);
}
footer a{
    color: rgb(69, 69, 69);
    margin: 0 15px;
}

/*MENU DESPLEGABLE*/
#menu>ul>li {
    float: left;
}
#menu>ul>li a {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: rgb(69, 69, 69);
}
#menu>ul>li a:hover{
    background-color: rgb(0, 250, 200);
}

#menu>ul>li>ul {
    display: none;
}
#menu>ul>li>ul>li {
    position: relative;
}
#menu>ul>li>ul>li>a {
    background-color: rgb(249, 249, 249);
}
#menu>ul>li>ul>li>ul {
    position: absolute;
    left: 100px;
    top: 0;
    display: none;
}
#menu>ul>li>ul>li>ul a {
    background-color: rgb(249, 249, 249);
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
