45*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.cien_height{
  height: 100vh;
}
header{
  height: 107px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}
.logo_header{
  width: 50%;
  height: 100px;
}
.nav_home{
  width: 44%;
  height: 15%;
  padding: 25px 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.menu{
  width: 6%;
  height: 15%;
  padding: 25px 0px 25px 10px;
}
#logo_header{
  width: 200px;
  margin: 15px;
}
.nav_home a{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #ff7a7a;
  text-decoration: none;
}
.nav_home a:hover{
  color: #131b24;
}
#menu{
  width: 40px;
  height: 40px;
}

/* FOOTER 1*/
.foot_1{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  background-color: #ff7a7a;
  color: white;
  position: relative;
}
.foot1_cien{
  width: 100%;
  height: 15%;
  display: flex;
  position: absolute;
  clear: both;
  float: left;
}
#one{
  width: 100%;
  background-color: black;
  z-index:30;
}
#two{
  width: 100%;
  background-color: silver;
  opacity: 60%;
  z-index:10;
}
.foot1_main{
  width: 100%;
  height: 70%;
  display: flex;
  position: absolute;
  z-index:20;
}
.foot1_33{
  width: 33.3%;
  border-right: 1px solid white;
  background-color: red;
  opacity: 60%;
}
#huella{
  width: 60px;
  /* margin: 20px 103px; */
}
/* FOOTER 2 */
.foot2{
  width: 100%;
  height: 40%;
  background-color: #002638;
  color: white;
}
.foot2_main{
  width: 100%;
  height: 70%;
  display: flex;
}
.cajas_foot2{
  width: 25%;
  padding: 40px;
  color: #62c6c2;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  /* border-right: 1px dashed #62c6c2; */
}
.cajas_foot2 a{
  padding-bottom: 15px;
  color: #62c6c2;
  text-decoration: none;
}
.foot_links{
  display: block;
}
/* #acerca_de{
  color: white;
} */
.cajas_foot2 a:hover{
  /* opacity: 50%; */
  color: white;
}
#Footer_Log{
  width: 212px;
  margin: -30px 10px;
}
.social{
  width: 30px;
  height: 30px;
  margin-right: 12px;
  display: inline;
}
.social:hover{
  opacity: 40%;
}
/* Copyright */
.foot2_copy{
  width: 100%;
  height: 30%;
  display: flex;
}
.caja_copy{
  width: 100%;
  /* border-top: 1px dashed #62c6c2; */
}
#copyright{
  margin: 0px 70px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
