*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.obs_intro{
  width: 50%;
  height: 300px;
  padding: 70px 40px;
  /* background-color: #05d192; VERDE */
  background-color: #f4f4f4;
  float: left;
  text-align: justify;
}
.obs_intro p{
  font-family: monospace;
  font-size: 21px;
  color: gray;
}
.mask_obs{
  width: 50%;
  height: 300px;
  background-image: url("../img/hunger2_zoom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.obs_caja1{
  width: 100%;
  height: 150px;
  padding: 40px;
  float: left;
  background-color: #131b24;
  color: #05d192;
  text-align: center;
}
.obs_caja1 p{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #05d192;
}
.obs_caja2{
  width: 100%;
  height: 150px;
  float: left;
  background-color: #f4f4f4;
}
