

/* For mobile phones: */
@media only screen and (min-width: 10px){

  [class*="col-"] {width: 100%;}
  #menu,#menu2 {display:none;}
  #menuburg1,#menuburg2,.lang {display:none;}
  .burguer_menu{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
  }
  .burguer_menu:hover #menuburg1,#menuburg2,.lang {
    float: right;
    width: 140px;
    display:flex;
    flex-direction: column;
  }
  .ads_banner_v {display: none;}
  .ads_banner_h {display: block;}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #menu,#menu2 {display:none;}
  #menuburg1,#menuburg2,.lang {display:none;}
  .burguer_menu:hover #menuburg1,#menuburg2,.lang {
    float: right;
    width: 140px;
    display:flex;
    flex-direction: column;
  }
  .ads_banner_v {display: none;}
  .ads_banner_h {display: block;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 900px) {
  /* For desktop: */
  #menu,#menu2 {display:flex;}
  #menuburg1,#menuburg2,.lang {display:none;}
  .burguer_menu:hover .lang {
    float: right;
    width: 140px;
    display:flex;
    flex-direction: column;
  }
  .ads_banner_h {display: none;}
  .ads_banner_v {display: block;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}
