@media all and (max-width: 768px) {

    nav {
        height: 0;
        overflow: hidden;
        float:right;
        position: relative;
        right: 7%;
        margin-top: 0;
        z-index: 2;
    }

    nav ul{
        flex-direction: column;
    }

    li {
        margin: 15px auto;
    }


    ul li a{
        font-size: 14px;
        padding: 10px;
        opacity: .7;
    }


    #burger{
        width: 10%;
        display: block;
        position: relative;
        left: 80%;
        bottom: 30px;
        cursor:pointer;

    }

    article img{
        display:none;
    }

}
