
/* <!—- Aquí van todos los estilos CSS PARA PANTALLAS DE MENOS DE 320PX--> */
@media all and (max-width: 768px){
    .menu{
        display:none;
    }

    .imagenfondo{
        width:100%;
        max-width:400px;

    }

    #hamburguesa{
        display:block;

    }

    .flexbox-container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

}
