{% extends "base.html" %}

{% block title %}Observatorio FamDa{% endblock %}

{% block link %}
  <link rel="stylesheet" href="public/css/observatorio.css">
{% endblock %}

{% block script %}
  <!-- <script type="text/javascript" src="public/js/observatorio.js"></script> -->
{% endblock %}

{% block body %}
<div class="cien_height" id="ob_panel1">
  <header>
    <div class="logo_header">
      <a href="home"><img src="public/img/FooterFAMDA_Log.png" alt="Imagen Logo" id="logo_header"></a>
    </div>
    <!-- <div class="observatorio_title">
      <img src="img/Observatorio_Log.png" alt="" id="obs_logo">
    </div> -->
    <div class="nav_home">
      <span></span>
      <span></span>
      <a href="home" id="hom">famda</a>
      <a href="hemeroteca" id="hemer">Hemeroteca</a>
      <a href="contacto" id="contac">Contacto</a>
      <a href="auth" id="auth">Auth</a>
      <a href=""> <img src="public/img/menu2.png" alt="menu" id="menu"></a>
    </div>
  </header>
  <div id="obs_intro" class="obsmask">

  </div>
  <div id="obs_mask" class="obsmask">
      <img src="public/img/melon.png" alt="melon" id="melon">
  </div>
</div>
<main>
<div class="setenta_height" id="ob_panel2">
</div>
<div class="treinta_height" id="ob_panel3">
</div>
<div class="cien_height" id="ob_panel4">
  <div class="continentes" onmouseover="info(this)" onmouseout="info(this)">
    <span id="africa">África</span>
  </div>
  <div class="continentes">
    <span id="asia">Asia</span>
  </div>
  <div class="continentes">
    <span id="latin">Latinoamérica y El Caribe</span>
  </div>
  <div class="continentes">
    <span id="amer_septentrional">América Septentrional</span>
  </div>
  <div class="continentes">
    <span id="europa">Europa</span>
  </div>
  <div class="continentes">
    <span id="oceania">Oceanía</span>
  </div>
</div>
<div class="cincuenta_height" id="ob_panel5">
</div>
</main>
<footer class="cien_height">
  <div class="foot_1">
  </div>
  <div class="foot2">
    <div class="foot2_main">
      <div class="cajas_foot2">
        <img src="public/img/FooterFAMDA_Log.png" alt="Footer_Log" id="Footer_Log">
      </div>
      <div class="cajas_foot2">
        <a href="" class="foot_links" id="acerca_de">· Acerca de FamDA</a>
        <a href="" class="foot_links" id="telefono">· + 34 644 94 93 39</a>
        <a href="" class="foot_links" id="postal">· 08013, Barcelona</a>
      </div>
      <div class="cajas_foot2">
        <a href="" class="foot_links" id="legal">Aviso legal</a>
        <a href="" class="foot_links" id="privacidad">Política de privacidad</a>
        <a href="" class="foot_links" id="cookies">Política de cookies</a>
      </div>
      <div class="cajas_foot2">
        <a href="home" target="_blank"><img class="social" alt="Twitter FamDA" src="public/img/rrss/twitter.png"/></a>
        <a href="home" target="_blank"><img class="social" alt="Instagram FamDA" src="public/img/rrss/instagram.png"/></a>
        <a href="home" target="_blank"><img class="social" alt="Linkedin FamDA" src="public/img/rrss/linkedin.png"/></a>
        <a href="home" target="_blank"><img class="social" alt="Instagram FamDA" src="public/img/rrss/youtube.png"/></a>
        <a href="home" target="_blank"><img class="social" alt="Instagram FamDA" src="public/img/rrss/facebook.png"/></a>
      </div>
    </div>
    <div class="foot2_copy">
      <div class="caja_copy">
        <p id="copyright"> &#169; 2020 FAMDA.org  |  Todos los derechos reservados </p>
      </div>
    </div>
  </div>
</footer>
  </body>
  </html>
{% endblock %}
