@media screen and (max-width: 400px){

    .modal-content {
        background-color: #fefefe;

        border: 1px solid #888;
        width: 100%;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 800px){

    .modal-content {
        background-color: #fefefe;
        margin: 4% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        padding-bottom: 30px;
    }
