<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>FamDA</title>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Montserrat|Special+Elite|Open+Sans|Open+Sans+Condensed:700&display=swap');
  </style>
  <link rel="icon" href="img/icon.png">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/index.css">
  <script type="text/javascript" src="vendor/components/jquery/jquery.min.js"></script>
  <script type="text/javascript" scr="js/index.js"></script>
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
  <div class="cien_height">
    <header>
      <div class="logo_header">
        <a href="http://localhost/mf0493_3/index.html"><img src="img/FAMDA_Log.png" alt="Imagen Logo" id="logo_header"></a>
      </div>
      <div class="nav_home">
        <span></span>
        <a href="observatorio.html" id="obs">Observatorio</a>
        <a href="hemeroteca.html" id="hemer">Hemeroteca</a>
        <a href="contacto.html" id="contac">Contacto</a>
      </div>
      <div class="menu">
        <a href=""> <img src="img/menu.png" alt="menu" id="menu"></a>
      </div>
    </header>
    <div id="msj_intro" class="mask">
      <!-- <img src="img/img_msj2.png" alt="Imagen Logo" id="img_msj"> -->
      <!-- <h6> > <a href="http://localhost/mf0493_3/observatorio.html" id="conoce">+ Info</a></h6> -->
    </div>
    <div id="foto_intro" class="mask"></div>
  </div>
  <main>
    <div class="cincuenta_height" id="panel1">
      <div id="intro_columnas">

      </div>
    </div>
    <div class="doscien_height" id="panel2">
      <div class="columna" id="col1">
        <article class="articles" id="col1_art1">
          <p>A</p>
        </article>
        <article class="articles" id="col1_art2">

        </article>
        <article class="articles" id="col1_art3">

        </article>
      </div>
      <div class="columna" id="col2">
        <article class="articles" id="col2_art1">

        </article>
        <article class="articles" id="col2_art2">

        </article>
        <article class="articles" id="col2_art3">

        </article>
      </div>
      <div class="columna" id="col3">
        <article class="articles" id="col3_art1">

        </article>
        <article class="articles" id="col3_art2">

        </article>
        <article class="articles" id="col3_art3">

        </article>
      </div>
    </div>
    <div class="cincuenta_height" id="panel4">

    </div>
  </main>
  <footer class="cien_height">
    <div class="foot_1">

    </div>
    <div class="foot2">
      <div class="foot2_main">
        <div class="cajas_foot2">
          <img src="img/FooterFAMDA_Log.png" alt="Footer_Log" id="Footer_Log">
        </div>
        <div class="cajas_foot2">
          <a href="" class="foot_links" id="acerca_de">· Acerca de FamDA</a>
          <a href="" class="foot_links" id="telefono">· + 34 644 94 93 39</a>
          <a href="" class="foot_links" id="postal">· 08013, Barcelona</a>
        </div>
        <div class="cajas_foot2">
          <a href="" class="foot_links" id="legal">Aviso legal</a>
          <a href="" class="foot_links" id="privacidad">Política de privacidad</a>
          <a href="" class="foot_links" id="cookies">Política de cookies</a>
        </div>
        <div class="cajas_foot2">
          <a href="http://localhost/mf0493_3/index.html" target="_blank"><img class="social" alt="Twitter FamDA" src="img/rrss/twitter.png"/></a>
          <a href="http://localhost/mf0493_3/index.html" target="_blank"><img class="social" alt="Instagram FamDA" src="img/rrss/instagram.png"/></a>
          <a href="http://localhost/mf0493_3/index.html" target="_blank"><img class="social" alt="Linkedin FamDA" src="img/rrss/linkedin.png"/></a>
          <a href="http://localhost/mf0493_3/index.html" target="_blank"><img class="social" alt="Instagram FamDA" src="img/rrss/youtube.png"/></a>
          <a href="http://localhost/mf0493_3/index.html" target="_blank"><img class="social" alt="Instagram FamDA" src="img/rrss/facebook.png"/></a>
        </div>
      </div>
      <div class="foot2_copy">
        <div class="caja_copy">
          <p id="copyright"> &#169; 2020 FAMDA.org  |  Todos los derechos reservados </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
