<?php
  session_start();
    // COMPROBACION DE SESION Y COOKIE
    // si la sesión existe
    if(isset($_SESSION["user_session"])){
    // redirecciona a "main_menu.php"
    header("Location: http://localhost/proyecto_final/main_menu.html");
    // echo 'user session detectado';
    // sino existe sesion, pero si cookie (recordar)
    }else if(isset($_COOKIE["user_cookie"])){
      echo 'user coockie detectado';
    session_start();
    // asignamos valor de usuario (cookie) a la sesion
    // reiniciamos SESION
    $_SESSION["user_session"] = json_decode($_COOKIE["user_cookie"]);
    header("Location: http://localhost/proyecto_final/main_menu.html");
    }
 ?>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>YOUR VOCABULARY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- Latest compiled and minified javascript -->
    <script src="vendor/components/jquery/jquery.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="js/index.js"></script>
    <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="homepage">
        <header>
            <h1><a href="http://http://localhost/proyecto_final/index.php">YOUR VOCABULARY</a></h1>
            <h4>Selecciona idioma de página: Español</h4>

            <div>
                <a class="btn" onclick="document.getElementById('LOGIN').style.display='block'">Log in</a>
                <a class="btn" onclick="document.getElementById('SIGNUP').style.display='block'">Sign up</a>

            </div>
        </header>
        <video src="img/video2.mp4" autoplay="true" loop="true" muted="true"></video>
    </div>

    <div class="tarjeta" id="tarjeta1">
        <h1>OLA K ASE</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="tarjeta" id="tarjeta2">
        <h1>OLA K ASE</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>


    <!-- LOG IN -->
    <div id="LOGIN" class="modal2">

      <form class="modal-content animate" action="PHP/control.php" method="POST">

        <div class="imgcontainer">
          <span onclick="document.getElementById('LOGIN').style.display='none'" class="close" title="Close PopUp">&times;</span>
          <!-- <img src="1.png" alt="Avatar" class="avatar"> -->
          <h1 style="text-align:center">Log In</h1>
        </div>

        <div class="container">
          <input type="text" placeholder="Enter Username" name="uname">
          <input type="password" placeholder="Enter Password" name="psw">
          <button type="submit" name="enviar">Login</button>
          <input type="checkbox" name="remember" style="margin:26px 25px;">Remember me
          <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
        </div>
      </form>

    </div>


    <!-- SIGN UP -->
    <div id="SIGNUP" class="modal2">

      <form class="modal-content animate" action="/action_page.php">

        <div class="imgcontainer">
          <span onclick="document.getElementById('SIGNUP').style.display='none'" class="close" title="Close PopUp">&times;</span>
          <!-- <img src="1.png" alt="Avatar" class="avatar"> -->
          <h1 style="text-align:center">Sign Up</h1>
        </div>

        <div class="container">
          <input type="text" placeholder="Enter Username" name="uname">
          <input type="password" placeholder="Enter Password" name="psw">
          <button type="submit">Login</button>
          <input type="checkbox" style="margin:26px 30px;"> Remember me
          <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
        </div>

      </form>

    </div>

<a class="menu_botones" href="#login_error" rel="modal:open" style="color: red; font-size: 2.2rem; ">EMPIEZA!</a>

<?PHP
if (isset($_GET["validacion"]) == 'error'){
    echo 'Usuario o contraseña incorrecta';
    // <!-- MODAL EMPIEZA -->
    echo '<div id="login_error" class="modal">
        <div class="container_modal_loginerror">
            <div class="caja"><a href="#modal_select_tema" rel="modal:open">Usuario o contraseña incorrecta</a></div>
        </div>
    </div>';
}

?>

</body>
</html>
