<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Suscripción</title>
    </head>
    <body>
        
        <h1>Datos de suscripción del usuario </h1>

        <span>Nombre: {{ nombre }}</span><br>
        <span>Apellidos: {{ apellidos }}</span><br>
        <span>Email: {{ email }}</span><br>
        <span>Telefono: {{ tlf }}</span><br>
        <span>DNI: {{ dni }}</span><br>
        <span>Año de nacimiento: {{ any }}</span><br>
        <span>Provincias: {{ provincias }}</span><br>
        <span>Mensaje: {{ mensaje }}</span><br>

    </body>
</html>
